.header{
  margin-top: 0;
  height:60px;
  background: #5AC75A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.countersWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}
.countContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:12px;
}
.favoriteSvg, .cartSvg{
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 4px;
  &:hover{
    filter: drop-shadow(0 -4px 4px #ffffff);
    fill: #ffffff;
  }
}
.logo {
  margin-left:16px;
}
.logoTextLink{
  color:#ffffff;
  font-size: 36px;
  letter-spacing: 4px;
  padding: 6px 12px;
  &:hover{
  filter: drop-shadow(0 -4px 4px #ffffff);
  }
}